.container {
	width: 100%;
}

.sliderContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	padding: 0 20px;
}

.slider {
	color: var(--red);
}

.rangeText {
	min-width: 48px;
}
