.modal {
	position: fixed;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	border: 0;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.modalTitle {
	margin: 16px 0 0 0;
}

.modalBody {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.bodyText {
	margin: 0;
}

.titleImage {
	position: relative;
}

.title {
	position: absolute;
	left: 8px;
	bottom: 8px;
	margin: 0;
	color: white;
	font-size: xx-large;
	text-shadow: black 0 0 10px, black 0 0 4px;
}

.image {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.rating {
	display: flex;
	align-items: center;
	gap: 8px;
}

.ratingStars {
	color: var(--red);
}

.ratingText {
	font-weight: bold;
}

.reviewCount {
	color: gray;
	font-weight: normal;
}

.priceCategories {
	display: flex;
	gap: 4px;
}

.appsGroup {
	display: flex;
	justify-content: space-around;
	margin: 16px 0;
}

.appButton {
	border: none;
	outline: none;
	border-radius: 50%;
	width: 64px;
	height: 64px;
	text-decoration: none;
	color: red;
	background-color: var(--gray-regular);
}

.buttonGroup {
	margin-top: 8px;
}

.button {
	width: 100%;
  height: 48px;
  border: 0;
  border-radius: 6px;
  outline: none;
	background-color: var(--gray-regular);
}

.buttonText {
  margin: 0;
}
